button{
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 5px 0 0.5rem rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
}
.card{
    overflow: hidden;
    font-size: 0.9em;
    min-height: 250px;
    max-height: max-content;
    max-width: 270px;
    min-width: 70px;
    padding: 0% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 5% 5% 5%;
}
.card img{
    margin-top: 0%;
    max-width: 55%;
}
.card h2{
    margin:0;
}
.card:hover{
    background-color: rgb(0, 185, 113);
    color: white;
}
.card:hover img{
    filter: grayscale(80%);
}
.card:hover span{
    visibility: visible;
    font-size: 0.9em;
}
.card:focus,
card:focus-visible{
    background-color: rgb(0, 185, 113);
    color: white;
}
.descripcion{
    padding: 5% 0% 0 0%;
    visibility: hidden;
    text-align: start;
}
.descripcion span{
    font-size: 40%;
}
