.indicador{
    display: flex;
    flex-direction: column;
}

.card{
    border-radius: 8px;
    border: 1px solid transparent;
    overflow: hidden;
    /* Sizes */
    font-size: 0.9em;
    min-height: 250px;
    max-height: max-content;
    max-width: 270px;
    /* Position */
    padding: 0% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Design */
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 5px 0 0.5rem rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
}
.cardImage{
    max-width: 55%;
    max-height: 40%;
}
.cardImage2{
    max-width: 55%;
    margin-top: 7%;
}
/* .card img{
    margin-top: 0%;
    max-width: 55%;
}
.card h2{
    margin:0;
} */

.card:hover{
    background-color: rgb(0, 185, 113);
    color: white;
}
.card:active{
    transform: scale(0.98);
}
.card:hover img{
    filter: grayscale(80%);
}
.card:hover .descripcion{
    visibility: visible;
}
.card:focus,
card:focus-visible{
    background-color: rgb(0, 185, 113);
    color: white;
}
.descripcion{
    visibility: hidden;
    text-align: start;
    padding: 0% 8% 0% 8%;
    font-size: medium;
}
.descripcion span{
    font-size: 40%;
}
