.content{
    margin-top: 3%;
    /* border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
    overflow: hidden; */
    min-height: max-content;
    text-align: start;
    padding-left: 2%;
}
.content > h2{
    margin-left: 0%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.secondView{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 4%;
}
.searchBox{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}

.indicadores{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;   */
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(40px, 1fr) minmax(40px, 1fr);
    justify-content: space-around;
    row-gap: 5%;
}

.indicadoresFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
}

.indicadoresBox{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}
.indicadoresCard{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
}

.totales{
    display: grid;
}
.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}