.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}
.inputText{
    border-radius: 40px;
    width: 311.654px;
    height: 100%;
    margin-right: 2%;
    border: none;
    padding: 3%;
}
.classSearch{
    border-radius: 50%;
    width: 45.538px;
    height: 45.538px;
    background-color: rgba(0, 185, 113, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}