*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Thin', sans-serif;
  font-family: 'Roboto Light', sans-serif;
  font-family: 'Roboto Medium', sans-serif;
  font-family: 'Roboto Black', sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
}
.content{
  background-color: #F2F2F2;;
  flex-grow: 1; 
  display: flex;
  flex-direction:column;
  height: 100vh;
  overflow: scroll;
  justify-content: space-between;
  padding: 2% 2% 0% 4%;
}
/* Media Queries */
@media only screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .navbar{
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 3px 0 3px 0;
  }
  .navbar img{
    width: 50px;
  }
}